/*input*/
/********************************************/
input {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color: #333;
}

::-webkit-input-placeholder {
    color: #6c7c7c;
}

/*select*/
/*******************************************************/
select {
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

select:focus {
    border-color: #333;
}

/*textarea*/
/*****************/
textarea {

    /*disabled: on;*/
    margin-bottom: auto;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
}

textarea:focus {
    border-color: #333;
}

/*button*/
/*****************************************/
button {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

button:active {
    position: relative;
    top: 1px;
}

/*table*/

table {
    border-collapse: collapse;
    border: 3px solid #768d87;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}
/*div*/
/**********************/
div {
    margin-left: 40px;
    margin-right: 40px;
}
div.field {
    padding-bottom: 5px;
}

div.field label {
    margin-right: 30px;
    display: block;
    float: left;
    width: 80px;
    height: 25px;
}

h4 {
    background: #768d87; /* Цвет фона под заголовком */
    color: #ffffff; /* Цвет текста */
    padding: 3px; /* Поля вокруг текста */
}

hr{
    margin-left: 40px;
    margin-right: 40px;
    color: #768d87;
    background-color: #768d87;
    height: 5px;
}

h1{
    margin-left: 40px;
    text-align-all: left;
}




